.icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.icon-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    &__label {
        font-weight: 800;
        width: 100%;
        max-width: 140px;
        text-align: right;
    }

    &.trono-icon {
        .draggable-object {
            width: 34px;
        }
    }

    &.gargola-icon,
    &.zombie-icon,
    &.esqueleto-icon {
        .draggable-object {
            width: 36px;
        }
    }
    
    &.puerta-icon,
    &.foso-icon,
    &.puerta-secreta-icon,
    &.cofre-icon,
    &.pared-icon,
    &.trampa-rocas-icon,
    &.orco-icon {
        .draggable-object {
            width: 40px;
        }
    }
    
    &.caos-icon,
    &.abominaciones-icon{
        .draggable-object {
            width: 42px;
        }
    }
    
    &.goblin-icon {
        .draggable-object {
            width: 46px;
        }
    }

    &.escalera-icon,
    &.pared-doble-icon {
        .draggable-object {
            width: 76px;
        }
    }

    &.mesa-tortura-icon,
    &.tumba-icon,
    &.banco-alquimista-icon,
    &.mesa-hechiero-icon,
    &.mesa-icon {
        .draggable-object {
            width: 90px;
        }
    }

    &.trampa-lanza-icon {
        .draggable-object {
            width: 26px;
        }
    }

    &.armas-icon,
    &.almacena-icon,
    &.chimenea-icon,
    &.armari-icon {
        .draggable-object {
            width: 105px;
        }
    }
}

.draggable-object {
    width: 50px;
    cursor: pointer;
}